body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
 a{
  text-decoration: none;
}
.header-bg {
  background-color: black;
}
.container-header{
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  align-items: center;
}
.container-header > a{
  padding: 20px;
}
.container-header img{
  height: 50px;
}
.container-header nav{
  
}
 .header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 12px;
  text-align: center;
}
.container-header .header-menu li{
 
}
.header-menu  a{
  color: white;
  padding: 16px 8px;
  display: inline-block;
  font-size: 18px;
  line-height: 32px;
  position: relative;
}
.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: white;
  margin-top: 2px;
  transition: 400ms;
  position: absolute;
}
.header-menu a:hover:after {
  width: 80%;
  transition: 400ms;
}
@media (max-width: 800px) {
  .header-menu a::after {
    display: none;
    }
  .container-header img{
    height: 37px;
  }
  .header-menu {
    gap: 25px;
  }
  .header-menu a {
    background: #242424;
    border-radius: 5px;
    padding: 8px 16px;
  }
  .header-menu a:hover {
    background-color: rgb(63, 63, 63);
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
  padding: 4px 10px;
  font-size: 14px;
  }
}